:root {
	--bg-color: #ceddc7;
	--primary-color:#99BC85;
	--text-color: #12372A;
	--filled-color: #D4E7C5;
	--node-color: #F2FFE9;
	--red-color: #e91e63;
	--yellow-color:#FFF455;
	--nav-height :48px;
	--bg-hover-color: #163020;
	--hover-color: #D4E7C5;
	--cell-size : 48px;
	--main-game-bg:#6D8B74;
	--cell-hover: #12372A;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, ::placeholder, input {
	font-family: "Kode Mono", monospace;
}
body {
	background-color: var(--bg-color);
	transition: all linear .3s;
	height: 100vh;
	overflow: hidden;

}
.dark {
	--bg-color: #12372A;
	--text-color: #D4E7C5;
	--filled-color: #163020;
	--node-color: #4F6F52;
	--bg-hover-color: #D4E7C5;
	--hover-color: #12372A;
	--yellow-color:#D49B54;
	--main-game-bg:#739072;
	--cell-hover: #ceddc7;

}
.bxs-sun {
	display: none;
}
.dark .bxs-sun {
	display: inline-block;
}
.dark .bxs-moon {
	display: none;
}

main {
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}
.start-screen {
	display: none;
	transition: all .5s linear;
	animation: opa linear .3s ;
}
.start-screen.active {
	display: block;
}
.logo-text {
	text-align: center;
	color: var(--text-color);
	font-size: 40px;
	font-weight: 700;
}

.logo-img {
	width: 300px;
	margin: 20px 0;
}

.screen-input {
	display: flex;
	flex-direction: column;
}
.input-name {
	cursor: text;
}
.input-name, .btn  {
	width: 300px;
	padding: 12px 8px;
	outline: none;
	color: var(--text-color);
	border-radius: 8px;
	text-align: center;
	margin-top: 16px;
	background-color: var(--filled-color);
	border: none;
	font-size: 24px;
	border: 2px solid var(--filled-color) ;
}
.btn {
	background-color: var(--filled-color);
	cursor: pointer;

	transition: all .3s linear;
}
.btn:hover {
	background-color: var(--bg-hover-color);
	color: var(--hover-color);
}
.btn-play {
	background-color: var(--primary-color);
}
.input-err {
	border-color: var(--red-color);
	animation: shake .5s linear;
}
/* Game */

.game-screen{
	display: none;
	transition: all .2s linear;
	height: 100%;
	padding: 20px;
	color: var(--text-color);
	transition: all .5s linear;
	animation: opa linear .3s ;

}
.game-screen.active {
	display: block ;
}
.top-game-nav{
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	padding: 12px 0;
	place-items: center	;
}
.game-home {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--node-color);
	border: 1px solid var(--filled-color);
	border-radius: 8px;
	justify-content: center;
	cursor: pointer;
	color: var(--text-color);
	transition: all linear .3s;

}
.game-home:hover , 
.game-pause:hover {
	background-color: var(--bg-hover-color);
	color: var(--hover-color);
}
.game-home-icon {
	font-size: 28px;
}
.game-time {
	display: flex;
	align-items: center;
}
.game-clock {
	font-size: 24px;
	display: inline-block;
}
.game-pause {
	font-size: 36px;
	background-color: var(--node-color);
	margin-left: 12px;
	border-radius: 50%;
	border: 1px solid var(--filled-color);
	cursor: pointer;
	transition: all linear .3s;
}

.main-game{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(9, auto);
	padding: 16px;
	border-radius: 8px;
	background-color: var(--main-game-bg);
}
.game-cell {
	width: var(--cell-size);
	height: var(--cell-size);
	background-color: var(--node-color);
	border-radius: 8px;
	display: grid;
	place-items: center;
	font-size: 24px;
	color: var(--text-color);
	cursor: pointer;
}
.game-cell.filled {
	background-color: var(--filled-color);
}
.game-cell.err {
	background-color: var(--red-color);
	color: var(--bg-color);
}

.game-cell.filled.err {
	background-color: var(--red-color);
	color: var(--text-color);
}
.game-cell.hover {
	border: 3px solid var(--cell-hover);
}
.game-cell.selected {
	background-color: var(--cell-hover);
	color: var(--bg-color);

}
.game-cell:hover {
	border: 4px solid var(--cell-hover);
}
.top-game-infor {
	display: grid;
	grid-template-columns: auto auto var(--cell-size) ;
	place-items: center;
	gap: 8px;
	margin:8px 0;
	font-size: 24px;
}
.top-game-name,.top-game-level  {
	text-align: center;
	height: vaR(--cell-size);
	line-height: var(--cell-size);
	cursor: default;
	width: 100%;
	background-color: var(--main-game-bg);
	border-radius: 8px;
	color: var(--node-color);
	font-weight: 500;
}
.mode {
	font-size: 28px;
	color: var(--cell-hover);
	transition: all linear .3s;
}
.top-game-answer {
	font-size: 36px;
	background-color: var(--node-color);
	height: vaR(--cell-size);
	line-height: var(--cell-size);
	margin-right: 12px;
	border-radius: 8px;
	border: 1px solid var(--filled-color);
	cursor: pointer;
	transition: all linear .3s;
}

.top-game-answer:hover {
	background-color: var(--yellow-color);
}
.bot-game-number {
	display: grid ;
	grid-template-columns: repeat(5, auto);
	place-items: center	;
	gap: 4px;
	margin: 16px 0;
}
.number-sudoku {
	text-align: center;
	line-height: var(--cell-size);
	font-size: 20px;
	width: 100%;
	height: var(--cell-size);
	background-color: var(--node-color);
	border-radius: 8px;
	cursor: pointer;
}
.delete {
	background-color: var(--red-color);
	color: var(--bg-color);
}
.pause-screen{
	display: none;
	transition: all .2s linear;
	height: 100%;
	padding: 20px;
	color: var(--text-color);
	animation: zoom linear .2s ;
}
.pause-text {
	text-align: center;
	color: var(--text-color);
	font-size: 40px;
	font-weight: 700;
}
.pause-screen-wrap {
	padding: 40px;
	background-color: var(--node-color);
	border-radius: 8px;
}
.pause-screen.active {
	display: block ;
}
.btn-resume{
	background-color: var(--primary-color);
}
.cell-err{
	animation: shake linear .5s;
}
.cell-animation {
	animation: zoom linear .2s;

}
/* Animation */
@keyframes shake {
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-20px);
	}
	50%{
		transform: translateX(20px);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes zoom {
	0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes opa {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* @keyframes cellAnimation {
	0% {
	
	}
} */