:root {
	--bg-color: #ceddc7;
	--primary-color:#99BC85;
	--text-color: #12372A;
	--filled-color: #D4E7C5;
	--node-color: #F2FFE9;
	--red-color: #e91e63;
	--yellow-color:#FFF455;
	--nav-height :48px;
	--bg-hover-color: #163020;
	--hover-color: #D4E7C5;
	--cell-size : 48px;
	--main-game-bg:#6D8B74;
	--cell-hover: #12372A;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, ::placeholder, input {
	font-family: "Kode Mono", monospace;
}
body {
	background-color: var(--bg-color);
	transition: all linear .3s;
	height: 100vh;
	overflow: hidden;

}
.dark {
	--bg-color: #12372A;
	--text-color: #D4E7C5;
	--filled-color: #163020;
	--node-color: #4F6F52;
	--bg-hover-color: #D4E7C5;
	--hover-color: #12372A;
	--yellow-color:#D49B54;
	--main-game-bg:#739072;
	--cell-hover: #ceddc7;

}
.bxs-sun {
	display: none;
}
.dark .bxs-sun {
	display: inline-block;
}
.dark .bxs-moon {
	display: none;
}

main {
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}
.start-screen {
	display: none;
	transition: all .5s linear;
	animation: opa linear .3s ;
}
.start-screen.active {
	display: block;
}
.logo {
	text-align: center;
}
.logo-text {
	text-align: center;
	color: var(--text-color);
	font-size: 40px;
	font-weight: 700;
}

.logo-img {
	width: 300px;
	margin: 20px 0;
}

.screen-input {
	display: flex;
	flex-direction: column;
}
.input-name {
	cursor: text;
}
.input-name, .btn  {
	width: 300px;
	padding: 12px 8px;
	outline: none;
	color: var(--text-color);
	border-radius: 8px;
	text-align: center;
	margin-top: 16px;
	background-color: var(--filled-color);
	border: none;
	font-size: 24px;
	border: 2px solid var(--filled-color) ;
}
.btn {
	background-color: var(--filled-color);
	cursor: pointer;

	transition: all .3s linear;
}
.btn:hover {
	background-color: var(--bg-hover-color);
	color: var(--hover-color);
}
.btn-play {
	background-color: var(--primary-color);
}
.input-err {
	border-color: var(--red-color);
	animation: shake .5s linear;
}
/* Game */

.game-screen{
	display: none;
	transition: all .2s linear;
	height: 100%;
	padding: 20px;
	color: var(--text-color);
	transition: all .5s linear;
	animation: opa linear .3s ;

}
.game-screen.active {
	display: block ;
}
.top-game-nav{
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	padding: 12px 0;
	place-items: center	;
}
.game-home {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--node-color);
	border: 1px solid var(--filled-color);
	border-radius: 8px;
	justify-content: center;
	cursor: pointer;
	color: var(--text-color);
	transition: all linear .3s;

}
.game-home:hover , 
.game-pause:hover {
	background-color: var(--bg-hover-color);
	color: var(--hover-color);
}
.game-home-icon {
	font-size: 28px;
}
.game-time {
	display: flex;
	align-items: center;
}
.game-clock {
	font-size: 24px;
	display: inline-block;
}
.game-pause {
	font-size: 36px;
	background-color: var(--node-color);
	margin-left: 12px;
	border-radius: 50%;
	border: 1px solid var(--filled-color);
	cursor: pointer;
	transition: all linear .3s;
}

.main-game{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(9, auto);
	padding: 16px;
	border-radius: 8px;
	background-color: var(--main-game-bg);
}
.game-cell {
	width: var(--cell-size);
	height: var(--cell-size);
	background-color: var(--node-color);
	border-radius: 8px;
	display: grid;
	place-items: center;
	font-size: 24px;
	color: var(--text-color);
	cursor: pointer;
}
.game-cell.filled {
	background-color: var(--filled-color);
	cursor: default;
}
.game-cell.err {
	background-color: var(--red-color);
	color: var(--bg-color);
}

.game-cell.filled.err {
	background-color: var(--red-color);
	color: var(--text-color);
}
.game-cell.hover {
	border: 3px solid var(--cell-hover);
}
.game-cell.selected {
	background-color: var(--cell-hover);
	color: var(--bg-color);

}
.game-cell:hover {
	border: 4px solid var(--cell-hover);
}
.top-game-infor {
	display: grid;
	grid-template-columns: auto auto var(--cell-size) ;
	place-items: center;
	gap: 8px;
	margin:8px 0;
	font-size: 24px;
}
.top-game-name,.top-game-level  {
	text-align: center;
	height: vaR(--cell-size);
	line-height: var(--cell-size);
	cursor: default;
	width: 100%;
	background-color: var(--main-game-bg);
	border-radius: 8px;
	color: var(--node-color);
	font-weight: 500;
}
.mode {
	font-size: 28px;
	color: var(--cell-hover);
	transition: all linear .3s;
}
.top-game-answer {
	font-size: 36px;
	background-color: var(--node-color);
	height: vaR(--cell-size);
	line-height: var(--cell-size);
	margin-right: 12px;
	border-radius: 8px;
	border: 1px solid var(--filled-color);
	cursor: pointer;
	transition: all linear .3s;
}

.top-game-answer:hover {
	background-color: var(--yellow-color);
}
.bot-game-number {
	display: grid ;
	grid-template-columns: repeat(5, auto);
	place-items: center	;
	gap: 4px;
	margin: 16px 0;
}
.number-sudoku {
	text-align: center;
	line-height: var(--cell-size);
	font-size: 20px;
	width: 100%;
	height: var(--cell-size);
	background-color: var(--node-color);
	border-radius: 8px;
	cursor: pointer;
}
.delete {
	background-color: var(--red-color);
	color: var(--bg-color);
}
.pause-screen{
	display: none;
	transition: all .2s linear;
	height: 100%;
	padding: 20px;
	color: var(--text-color);
	animation: zoom linear .2s ;
}
.pause-text {
	text-align: center;
	color: var(--text-color);
	font-size: 40px;
	font-weight: 700;
}
.pause-screen-wrap {
	padding: 40px;
	background-color: var(--node-color);
	border-radius: 8px;
}
.pause-screen.active {
	display: block ;
}
.btn-resume{
	background-color: var(--primary-color);
}
.cell-err{
	animation: shake linear .5s;
}
.cell-animation {
	animation: zoom linear .2s;
}
.win-screen{
	width: 560px;
	display: none;
	transition: all .2s linear;
	height: 100%;
	color: var(--text-color);
	animation: zoom linear .2s ;
	overflow: hidden;
}
.win-screen.active {
	display: block ;
}
.win-screen-wrap {
	padding: 40px;
	background-color: var(--node-color);
	border-radius: 8px;
}
.logo-win {
	width: 300px;
}
.win-text-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--text-color);
	font-weight: 700;
}
.win-text{
	font-size: 50px;
	
}
.win-time {

}
/* Animation */
@keyframes shake {
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-20px);
	}
	50%{
		transform: translateX(20px);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes zoom {
	0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes opa {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* @keyframes cellAnimation {
	0% {
	
	}-
} */
/* ------------Firework ----------------*/

.pyro > .before, .pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; 
}
  
.pyro > .after {
	animation-delay: 1.25s, 1.25s, 1.25s;
	animation-duration: 1.25s, 1.25s, 6.25s; 
}
@keyframes bang {
	from {
	  box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; 
	} 
}

@keyframes gravity {
	to {
	  transform: translateY(50px);
	  opacity: 0; 
	} 
}

@keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%; 
	}
  
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%; 
	}
  
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%; 
	}
  
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%; 
	}
  
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%; 
	} 
}
  
/* responsive */
/* Mobie and Tablet */
/* @media (max-width: 1200px) {
	
} */
/* Tablet */
/* @media (min-width:740px) and (max-width: 1023px) {
	
} */
/* Mobie  */
@media (max-width: 600px){
	:root {
		--cell-size : 36px;
	}
	main{
		height: auto;
	}
	/* start game */

	.screen {
		margin-top: 40px;
	}
	.logo-img {
		width: 200px;
		margin: 20px 0;
	}

	.input-name, .btn  {
		width: 200px;
	}

	/* game page */
	.game-screen{
		padding: 4px;
	}

	.game-home-heading {
		display: none;
	}

	.game-home-icon {
		font-size: 24px;
	}

	.game-clock {
		font-size: 20px;
	}
	.game-pause {
		font-size: 28px;
	}
	.main-game{
		gap: 3px;
		padding: 8px;
		border-radius: 4px;
	}
	.game-cell {
		border-radius: 4px;
		font-size: 16px;
	}
	/* pause page */
	.pause-screen{
		padding: 20px;
	}
	.pause-text {
		font-size: 36px;
	}

	/* win page */
	.win-screen{
		width: 350px;
	}

	.win-screen-wrap {
		margin-top: 40px;
	}
	.logo-win {
		width: 200px;
	}
	.win-text-wrap {
		font-weight: 500;
	}
	.win-text{
		font-size: 32px;
		
	}
	
}
@media (max-height: 820px){
	
	:root {
		--cell-size : 44px;
	}
}